<div class="container">
  <div class="card-grid">
    <div *ngFor="let card of displayedCards" class="card-item">
      <img [src]="card.card_images[0].image_url" alt="{{ card.name }}">
    </div>
  </div>

  <div class="pagination">
    <button class="btn btn-light" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="btn btn-light" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
  </div>
</div>