<nav class="navbar">
    <div class="logo">
        <img src="assets/logo/yu-gi-oh-logo.jpg" alt="Logo Yu-Gi-Oh" style="height: 54px; width: auto;">
    </div>
    <ul class="nav-list">
        <li>Decks</li>
        <li>Articles</li>
        <li>Card Database</li>
        <li>Community</li>
        <li>Premium</li>
        <li>Shuffle</li>
    </ul>
    <div class="search-bar">
        <input type="text" placeholder="Recherche...">
    </div>
    <div class="buttons">
        <button class="toggle-theme">Nuit/Jour</button>
        <button class="sign-up">Sign Up</button>
        <button class="login">Login</button>
    </div>
</nav>
